/* Exercici 1 - GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #ecf0f1;
    font-size: 12px;
}

/* Exercici 2 - LOGO */
h1{
    margin-top: 10px;
    font-family: 'Lobster', cursive;
    color: #9b59b6;
    text-shadow: 2px 2px #bdc3c7;
    text-decoration-line: overline;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5em;
    letter-spacing: 0.5em;
}

/* Exercici 4 - MENÚ */


/* Exercici 5 - SIDEBAR */


/* Exercici 6 - CONTAINER */


/* Exercici 7 - COLOR BOXES */
#cards{
    background-color: #e74c3c;
    height: 400px; 
    position: relative;
}
#cards .card{
    width: 300px;
    height: 200px;
    
}
#cards .yellow{
    background-color:#f1c40f; 
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
}
#cards .green{
    background-color: #40d47e; 
    top: 30px;
    left: 100px;
    position: absolute;
    z-index: 2;
}
#cards .blue{
    background-color: #3498db; 
    top: 60px;
    left: 200px;
    position: absolute;
    z-index: 1;
}

/* Exercici 8 - TABLE */


/* Exercici 9 - EMAIL ME */
#emailme img{
    position: fixed;
    width: 50px;
    bottom: 6%;
    right: 6%;
    opacity: 0.25;
    transition: width 2s, transform 2s;
} 
#emailme img:hover{
    opacity: 1;
    width: 150px;
    transform: rotate(360);
}
 

/* Exercici 3 - RESPONSIVE */
