* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper {
    /*pare*/
    width: 1200px;
    background-color: red;
}

.header .wrapper h1 {
    /*pare*/
    order: 1;
}

.header .wrapper nav {
    /*fill*/
    order: 2;
}

.header .wrapper nav ul {
    display: flex;
}


/*MOIXIOS*/

.content {
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
}

.content .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.content .wrapper form,
.content .wrapper h1 {
    width: 50%;
}

.content .wrapper h1 {
    order: 1;
}

.content .wrapper form {
    /*pare*/
    display: flex;
    justify-content: end;
    /*fill*/
    order: 2;
}

.content .wrapper ul.kittens {
    /*fill*/
    list-style: none;
    order: 3;
    /*pare*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .wrapper ul.kittens li footer {
    display: flex;
    justify-content: center;
}