<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Partitura</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="./partitures.html" class="logo">
          <h1 class="logo-name">Score Finder</h1>
        </a>
      </nav>
    </header>

    <section>
      <form name="formulari" method="dialog">
        <input type="number" name="idpartitura" id="id" hidden />

        <label for="titol">Títol</label><br />
        <input type="text" name="name" id="titol" /><br /><br />

        <label for="idiomaDesti">Idioma Original</label><br />
        <select name="idiomaDesti" id="idiomaDesti">
          <option selected disabled>Elige un idioma</option></select
        ><br /><br />

        <input type="text" name="idiomaOriginal" value="ca" hidden />

        <label for="lletraOriginal">Lletra Original</label><br />
        <textarea
          name="lletraOriginal"
          id="lletraOriginal"
          cols="10"
          rows="5"
        ></textarea
        ><br /><br />

        <label for="lletraTraduccio">Traducció al català</label><br />
        <span name="lletraTraduccio" id="lletraTraduccio"></span><br /><br />

        <input type="submit" id="submit" />
      </form>

      <script type="module">
        "use strict";
        import { GoogleService } from "../js/service/GoogleService.js";
        import { PartituraService } from "../js/service/PartituraService.js";
        import { Partitura } from "../js/model/Partitura.js";
        (async () => {
          const googleService = GoogleService.getInstance();
          const idiomes = await googleService.getIdiomes();

          const idiomaDesti = document.querySelector("#idiomaDesti");
          idiomes.forEach((idioma) => {
            const option = document.createElement("option");
            option.value = idioma.id;
            option.textContent = idioma.nom;
            idiomaDesti.appendChild(option);
          });

          const variablesUrl = window.location.search;
          const urlParams = new URLSearchParams(variablesUrl);
          const id = urlParams.get("id");

          if (id) {
            const partituraService = PartituraService.getInstance();
            const partitura = await partituraService.getPartituraById(id);
            document.querySelector("#id").value = partitura.id;
            document.querySelector("#titol").value = partitura.titol;
            document.querySelector("#idiomaDesti").value =
              partitura.idiomaDesti;
            document.querySelector("#lletraOriginal").value =
              partitura.lletraOriginal;
            document.querySelector("#lletraTraduccio").innerHTML =
              partitura.lletraTraduccio;
          }

          const lletraOriginalInput = document.createElement("input");
          lletraOriginalInput.type = "text";
          lletraOriginalInput.id = "lletraOriginaltext";
          lletraOriginalInput.style.display = "none";
          document.querySelector("form").appendChild(lletraOriginalInput);

          tinymceInit();

          document.querySelector("#submit").addEventListener("click", () => {
            check();
          });
        })();
        const titleCheck = () => {
          const titol = document.querySelector("#titol").value;
          const regex = /\w+\s\w+\s\w+/;
          if (regex.test(titol)) {
            document.querySelector("#titol").style.backgroundColor = "green";
            return true;
          } else {
            document.querySelector("#titol").style.backgroundColor = "red";
            return false;
          }
        };
        const idiomaDestiCheck = () => {
          const idiomaOriginal = document.querySelector("#idiomaDesti").value;
          if (idiomaOriginal != -1) {
            document.querySelector("#idiomaDesti").style.backgroundColor =
              "green";
            return true;
          } else {
            document.querySelector("#idiomaDesti").style.backgroundColor =
              "red";
            return false;
          }
        };
        const lletraOriginalCheck = () => {
          const lletraOriginal =
            document.querySelector("#lletraOriginal").value;
          if (lletraOriginal != "") {
            document.querySelector("#lletraOriginal").style.backgroundColor =
              "green";
            return true;
          } else {
            document.querySelector("#lletraOriginal").style.backgroundColor =
              "red";
            return false;
          }
        };
        const checkAll = () => {
          if (titleCheck() && idiomaDestiCheck() && lletraOriginalCheck()) {
            return true;
          } else {
            return false;
          }
        };
        const tinymceInit = () => {
          const tiny = tinymce.init({
            selector: "#lletraOriginal",
            setup: (editor) => {
              editor.on("input", () => {
                const texto = editor.getContent();
                document.querySelector("#lletraOriginaltext").value = texto;

                const googleService = GoogleService.getInstance();
                if (document.querySelector("#idiomaDesti").value !== "ca") {
                  googleService
                    .translate(
                      document.querySelector("#idiomaDesti").value,
                      document.querySelector("#lletraOriginaltext").value
                    )
                    .then((traduccio) => {
                      document.querySelector("#lletraTraduccio").innerHTML =
                        traduccio;
                    });
                } else {
                  document.querySelector("#lletraTraduccio").innerHTML =
                    document.querySelector("#lletraOriginaltext").value;
                }
              });
            },
          });
        };
        const check = async () => {
          if (checkAll()) {
            const partituraService = PartituraService.getInstance();
            const partitura = new Partitura(
              document.querySelector("#id").value,
              document.querySelector("#titol").value,
              document.querySelector("#lletraOriginaltext").value,
              document.querySelector("#lletraTraduccio").innerHTML,
              document.querySelector("#idiomaDesti").value,
              "ca",
              []
            );
            partituraService.savePartitura(partitura).then((a) => {
              alert(a.notifyMessage);
              window.location.href = "partitures.html";
            });
          }
        };
      </script>
    </section>
  </body>
</html>
