$primary : blue;
$secondary : red;
$tertiary : yellow;

$dark : #000000;
$light : #ffffff;

$red : #ff0000;
$green : #00ff00;
$blue : #0000ff;
$yellow : #ffff00;
$orange : #ffa500;
$purple : #800080;
$brown : #a52a2a;
$grey : #808080;


// colors 
.colors {
    background-color: $red;
    color: $green;
}

.awd {
    background-color: $blue;
    color: $yellow;
}
.table{
    background-color: $orange;
    color: $purple;
}