* {
    box-sizing: flex;
    flex-direction: column;
}
body {
    margin: 0;
    box-sizing: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
} 
.div-title h1{
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
} 
.div-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%; 
    margin: 0;
    padding: 0;
}
.piano-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%; 
    background-color: black;
} 
.piano-div ul{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
 