<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Piano</title> 
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body class="bg">
    <div class="div-title">
      <h1>Score Finder</h1>
    </div>
    <form class="form-login">
        <label for="usuari" class="center" >Correu Electrònic : </label>
        <input type="text" name="usuari" id="usuari" >
        <label for="contrasenya" class="center">Password : </label>
        <input type="password" name="contrasenya" id="contrasenya" >
        <button class="btn-red" onclick="">Iniciar sessió</button>
    </form>
</body>
</html>