*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    /* flex-direction: row; direccio */
    /*flex-wrap: wrap; per que boti de linia defecte nonwrap */
    /*flex-flow: row wrap ; lo mateix de lo de adalt pero primer un i despres s'altre*/
    justify-content: center;
    align-items: center;
    /* height: 500px;per centrar amb align center*/
}

.container div{
    width:  100px; 
    margin: 10px;
    text-align: center;
}