<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add product</title>
</head>
<body>

    <form action="/add" method="post">
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom">

        <label for="descripcio">Descripcio</label>
        <input type="text" name="descripcio" id="descripcio">

        <label for="preu">Preu</label>
        <input type="text" name="preu" id="preu">

        <label for="proveidor">Proveidor</label>
        <select name="proveidor" id="proveidor">
            <option th:each="proveidor : ${proveidors}" th:text="${proveidor.nom}" th:value="${proveidor.id}"></option>
        </select>

        <label for="tipus" >Tipus</label>
        <select name="tipus" id="tipus" multiple >
            <option th:each="tipus : ${tipus}" th:text="${tipus.nom}" th:value="${tipus.id}"></option>
        </select>

        <label for="detallProducte">Detall Producte</label>
        <select name="detallProducte" id="detallProducte" >
            <option th:each="detallProducte : ${detallProductes}" th:text="${detallProducte.nom}" th:value="${detallProducte.id}"></option>
        </select>

        <button type="submit">Submit</button>
    </form>

</body>
</html>