<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="">
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom">

        <label for="descripcio">Descripcio</label>
        <input type="text" name="descripcio" id="descripcio">

        <label for="preu">Preu</label>
        <input type="text" name="preu" id="preu">


        <button type="submit">Submit</button>
    </form>

</body>
</html>