<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<header th:replace="layout/navbar.html :: navbar"></header>
<body>
    <div class="container">
        <h1> Llistat de Productes </h1>
        <table class="text-center col-12">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Descripcio</th>
                <th>Preu</th>
                <th>Proveidor</th>
                <th>Tipus</th>
                <th>Detall del Producte</th>
                <th>Modificar Producte</th>
                <th>Eliminar Producte</th>
            </tr>
            <tr th:each="product : ${products}" >
                <td th:text="${product.id}"></td>
                <td th:text="${product.nom}"></td>
                <td th:text="${product.descripcio}"></td>
                <td th:text="${product.preu}"></td>
                <td th:text="${product.proveidor.nom}"></td>
                <td>
                    <span th:each="tipus : ${product.tipus}" th:text="${tipus.nom} + ' '"></span>
                </td>
                <td th:text="${product.detallProducte.nom }"></td>
                <td>
                    <a th:href="@{/editProduct/{id}(id=${product.id})}" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a th:href="@{/deleteProduct/{id}(id=${product.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>