* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
} 

#tuberia{
    margin-top: 660px;
    width: 300px;  
    z-index: 1;
}

#container{
    position: relative; 
    transform-style: preserve-3d; 
    width: 70px;
    height: 80px;
    overflow: hidden;
    display: block;
    animation-timing-function: 1;
    animation: animate 5s steps(6) infinite;  
    }
#mario{
    animation-timing-function: -1;
    animation: play 4s steps(6) infinite;
}

@keyframes play{

    100% {
        transform: translateX(-420px);
    }   
}

@keyframes animate{
    0%{ 
        transform:translateY(-300px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px;
    } 
    5%{ 
        transform:translateY(-320px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px;
    }
    10%{ 
        transform:translateY(-340px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px;
    } 
    15%{ 
        transform:translateY(-380px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px;
    } 
    20%{
        transform:translateY(-400px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px; 
    }
    25%{
        transform:translateY(-420px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px; 
    }
    30%{
        transform:translateY(-460px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px; 
    }
    35%{
        transform:translateY(-500px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px; 
    }
    40%{
        transform:translateY(-520px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px; 
    }
    45%{
        transform:translateY(-550px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px; 
    }
    50%{
        transform:translateY(-580px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px; 
    }
    55%{
        transform:translateY(-550px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px; 
    }
    60%{
        transform:translateY(-520px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px; 
    }
    65%{
        transform:translateY(-500px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px; 
    }
    70%{ 
        transform:translateY(-400px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px;
    } 
    75%{ 
        transform:translateY(-380px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px;
    }
    80%{ 
        transform:translateY(-360px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px;
    } 
    85%{ 
        transform:translateY(-340px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px;
    } 
    90%{
        transform:translateY(-320px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px; 
    }
    100%{
        transform:translateY(-300px) translateX(125px) translateZ(50px);
        
        transform-origin: 50px 50px;  
    }
}