<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Productes</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Descripcio</th>
        <th>Preu</th>
    </tr>
    <tr th:each="product : ${productes}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.nom}"></td>
        <td th:text="${product.descripcio}"></td>
        <td th:text="${product.preu}"></td>
        <td><a th:href="@{/edit(${product.id})}" </td>
    </tr>

</table>
</body>
</html>
