div{
    background-color: #333333;
}
#p1,#p2,#p3,#p4{
    width: 200px;
    height: 150px;
} 
#puzzle{
    width: 400px;
    height: 300px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
} 
img{
    width: 200px;
    height: 150px; 
}